<script id="vertex-shader" type="vertex">

     attribute vec3 position;
     attribute vec2 texture;  
     attribute vec4 colors;  

     uniform mat4 MV;
     uniform mat4 P;
     
     varying vec2 oTexture;
     varying vec4 oColors;

    void main(void) { 
      gl_Position = MV * P * vec4(position, 1.0);
      oTexture = texture;
      oColors  = colors;
     }

</script>


<script id="fragment-shader" type="fragment">
    
    precision mediump float;
    varying vec2 oTexture;
    varying vec4 oColors;
    uniform sampler2D uSampler;

    void main(void) {
        gl_FragColor = texture2D(uSampler, oTexture) * oColors;
    }

</script>

