doctype html
html(lang = "en")
    head
        link(rel='stylesheet', href='www/stylesheets/screen.css') 
        title = Fractal
body
    div(class="content")
        div(class="center")
            h1(style) Fractal
        div(class="content")
            a(href='www/triangle.html') triangle
            a(href='www/koch') koch 
            a(href='www/experiments.html') koch two
            a(href='www/debug.html') debug
            
            
